.main{
    font-family: sans-serif;
    
}
.green{
    border-radius: 2px solid black;
    background-color: rgb(18, 118, 18);
    text-align: center;
    color: white;
    padding:100px;
    margin-right: 15px;
}
.blue{
    border-radius: 2px solid black;
    background-color: rgb(18, 45, 129);
    text-align: center;
    color: white;
    padding:100px;
    margin-right: 15px;
}
.balck{
    border-radius: 2px solid black;
    background-color: black;
    text-align: center;
    color: white;
    padding:100px;
    margin-right: 15px;
}
.table{
    display: flex;
}
.num{
    font-size: 60px;
}
.text{
    padding: 20px 40px;
}